.landing-content{
    height: calc(100vh - 48px);
   
    width: 100vw;
    overflow-y: auto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.actions{
    width: 50%;
}
.description {
    width: 50%;
}
.actions-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a73e8;
    height: 25px;
    color: white;
    border-radius:5px;
    padding: 10px;
    cursor: pointer;

    
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input input{
  height: 25px;
 padding: 10px;

}
.input span{
    font-size: 1rem;
    cursor: pointer;

}